body {
    background-color: #111;
    color: #ccc;
}

.app {
    max-width: 600px;
    padding: 50px 20px;
    margin: 0 auto;

    &__tituloPrincipal {
        font-family: 'Roboto Slab', sans-serif;
        color: #fbc105;
        font-size: 35px;
        text-align: center;
        padding-bottom: 80px;
        position: relative;
    }

    &__tituloPrincipal::before {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background-color: #fbc105;
        position: absolute;
        bottom: 30px;
        left: calc( 50% - 15px );
    }
}